@font-face {
  font-family: Simpson;
  src: url('./assets/fonts/Simpsonfont.ttf');
}

body{
  height: 100vh;
  width: 100vw;
  display:grid;
  place-items: center;
  background-image:url(https://wallpaperaccess.com/full/1312960.jpg);
  background-size: 100%;
  background-size: cover;

}

.Spring{
  font-size: 5rem;
  font-family: Simpson;
  color: yellow;
  
}